;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;
; PHP Source Deploy Tool Properties
;
;------------------------------------------------------------------------------
; [tag]
; host	= "YOUR_HOST"
; path	= "/data/www/bechef/www.bechef.co.kr/html"
; user	= "YOUR_ACCOUNT"
; passwd= "YOUR_PASSWD"
; port	= "21"
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;